* {
  text-align: center;
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  font-weight: 200;
}

body{
  background-image: url('imgs/bgImage.jpg');
  background-size: cover;
}

.title {
backface-visibility:hidden;
left:0;
perspective:1000;
position:fixed;
width:100%;
}

.title h1  {
background-color:rgba(0,0,0,.5);
font-family:"Poiret One", sans-serif;
font-size:2.5em;
padding:.5em .725em;
color:white;
}

h2 {
  color:blue;

}


#screen {
  width: 700px;
  margin: 20px auto;
  position: relative;
  top:125px;
  margin-bottom: 10px;
}

#spaceShip{
  height: 40px;
  width: 60px;
  position: absolute;
	bottom: 50%;
	left: 130px;
	z-index: 2;
  background-image: url('imgs/Ship.png');
  background-size: cover;
  background-clip: border-box;
}

#gameScore {

  position: absolute;
  width: 100%;
  display: block;
  text-align: center;
  z-index: 4;
  font-size: 250%;
  padding-top: 20px;
  font-weight: 700;
  color: aqua;
  font-size: 60px

}

#finalScore {
  position: absolute;
  width: 100%;
  display: block;
  text-align: center;
  z-index: 4;
  font-size: 250%;
  padding-top: 20px;
  font-weight: 700;
  color: purple;
  font-size: 60px;
}


#startButton {
  width:150px;
  position: relative;
  height:100px;

  top:100px;
  z-index:100;
}

#resetButton {
  width:150px;
  position: relative;
  height:100px;
  top:100px;
  z-index:100;
}

.alien {
  position: absolute;
  right:-50px;
  width:50px;
  height:100%;
  z-index: 2;
}

 .alien #bottom {
  bottom:0;
  width:50px;
  position:absolute;
  background-image: url('imgs/obstacle.png');
  background-size: cover;
  object-fit: fill;
}

  .alien #top {
  top: 0;
  width: 50px;
  background-image: url('imgs/obstacle.png');
  position: absolute;
  background-size: cover;
  object-fit: fill;
}





#background {
  background-image:url('imgs/BackgroundSite.jpg');
  position: relative;
  overflow: hidden;
  margin-bottom: 0px;
  height: 450px;
  background-size: cover;

}
